*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family:"serif", serif ;
  width: 100%;
}

a{
  text-decoration: none;
}

header{
max-width: 1000px;
height: 90px;
width: 100%;
padding-top: 80px;
margin: 0 auto;
color: black;
background-color: white;
}


  h1{
  font-size: 50px;
  float: left;
  font-weight: bold;

}

.left-wrapper{

}

  .clear{
     clear: left;
   }

.left-wrapper p{
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  margin-top; 10px;
  float: left;
}

.central-wrapper{
  float: left;
  text-align: center;
}

.central-wrapper a{
  margin-right: 10px;
  color: black;
}

.right-wrapper{
  float: right;
}

.top-wrapper{
  max-width: 1000px;
  margin: 0 auto;
  padding:65px 0;
}

.top-wrapper p{
  margin-top: 60px;
  font-size: 20px;

}

.date{
  float: left;
}


.blog {
  max-width: 1000px;
  margin: 0 auto;
  padding:20px 0;
}

.blog content{
 margin: 0 auto;
 padding-bottom:60px;
 display: flex;
}

.novels{
  float: left;
  padding-left: 300px;
}

.blog a{
  display: inline-block;
  float: left;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;

}

.blog h1{
  font-size: 22px;
  color: black;
  margin-bottom:30px;
}

.blog p{
  color: rgba(0, 0, 0, 0.5);
}

.btn-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 70px;

}

.one{
    font-weight: bold;
    border: solid 1px #C0C0C0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
}

.two{
    border: solid 1px #C0C0C0;
    text-align: center;
    padding: 10px 10px;
}

.three{
    border: solid 1px #C0C0C0;
    text-align: center;
    padding: 10px 10px;
}

.next{
    border: solid 1px #C0C0C0;
    text-align: center;
    padding: 10px 10px;
}

.about-me{
  border-top:solid 1px #C0C0C0;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 80px;
  border-bottom: solid 1px #C0C0C0;
}

.about-me container
   display: flex;
}


.profile{
  width: 33%;

}


.works{
  width: 33%;
}

.categoty{
  width: 33%;
}

.category p{

  border-bottom:solid 1px #C0C0C0;
}

footer{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;
}
